# stop mariadb, copy/move /var/lib/mysql/ib_logfile*, apply these changes and start mariadb

[mysqld]
innodb_log_file_size=1G

# to allow large uploads / queries
max_allowed_packet  = 128M

# log bin
log_bin             = hypermaster1
# expire_logs_days    = 3
max_binlog_size     = 100M
server_id           = 1

# for laravel
# innodb_large_prefix = 1
innodb_default_row_format = dynamic
group_concat_max_len = 1000000
